<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capsule Shaped Task Bar</title>
    <link rel="stylesheet" type="text/css" href="style.css"> <!-- Link to external CSS file -->
</head>
<body>
    <section id="Home">
        <div class="container">
                <div class="logo-container">
                    <div class="logo">
                        <img src="1715023145403.png" alt="Logo">
                    </div>
                </div>
                <div class="background"> <!-- Green div box covering the header -->
                    <button class="curved-button" style="background-color: black;">Button 1</button>
                    <button class="curved-button secondary">Button 2</button>
    
                    <div class="file-upload">
                        <input type="file" id="file" class="inputfile" />
                        <label for="file" class="curved-button">Choose File</label>
                        <button class="curved-button secondary">Upload</button>
                    </div>
    
                    <div class="quarter-circle-holder">
                        <img src="taro-7714366_1280.jpg" alt="Image">
                    </div>
                </div> <!-- Green div box covering the header -->
                <div class="task-bar">
                    <div class="sentence">Medleaf</div>
                    <div>
                        <a href="#Home" class="links">Home</a>
                        <a href="#About" class="links">About</a>
                        <a href="#Contact" class="links">Contact</a>
                    </div>
                </div>
        </div>
    </section> 

    <div class="output-container">
        <div class="output-box" id="info">
            <p>Your output goes here</p>
        </div>
    </div>

    

    <section id="About">

    </section>

    <section id="Contact">
        
    </section>
    
</body>
</html>
